/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
z_Material/Strukturplan US 2022-11-29 Irion - 2.xlsx
z_Material/~$Strukturplan US 2022-11-29 Irion - 2.xlsx
